@font-face {
  	font-family: "DomineBold";
  	font-weight: bold;
  		src: url("../fonts/Dominebold.woff2") format("woff2"),
  			 url("../fonts/Dominebold.woff") format("woff"),
  			 url("../fonts/Dominebold.ttf") format("truetype"); 
  			}

@keyframes preload {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes hello {
	from {
		transform: rotate(0);
	} 50% {
		transform: rotate(-15deg);
		transform-origin: center bottom;
	} 75% {
		transform: rotate(20deg);
		transform-origin: center bottom;
	} 100% {
		transform: rotate(0);
	}
}

body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #171717;
	animation: preload 2s ease-in;
	}

div {
	text-align: center;
	}

h1 {
	color: white;
	font: 34px DomineBold;
	margin-top: 0;
	}

h1:before {
	content: "";
	display: inline-block;
	background: url("../ruka.svg") no-repeat;
	background-size: contain;
	height: 50px;
	width: 40px;
	animation: hello 2s 2.5s;
	}

a {
	padding: 0 20px;
	margin: 15px;
	display: inline-block;
	width: 200px;
	height: 300px;
	border-radius: 8px;
	}

a:hover {
	background-position: bottom;
	box-shadow: 0 0 10px white;
	}

.digitalAgencies {
	background: url(../preview/DigitalAgencies-preview.jpg);
	background-size: cover;
	transition: background-position 4s,box-shadow 0.1s;
	}
.businessTemplate {
	background: url(../preview/BusinessTemplate-preview.jpg);
	background-size: cover;
	transition: background-position 2s ,box-shadow 0.1s;
	}
.freelancerTemplate {
	background: url(../preview/FreelancerTemplate-preview.jpg);
	background-size: cover;
	transition: background-position 2s ,box-shadow 0.1s;
	}

@media (max-width: 538px) {
	
	.container {
		justify-content: center;
		padding: 30px 0;
	}

	h1 {
		margin: 35px 0;
	}
}
