@font-face {
	font-family: "Gotham";

	src: url("../fonts/GothaProBol.otf") format("opentype");

	font-weight: 800;
		 
}

@font-face {
	font-family: "Gotham";

	src: url("../fonts/GothaProMed.otf") format("opentype");

	font-weight: 600;
}

@font-face {
	font-family: "Gotham";

	src: url("../fonts/GothaProReg.otf") format("opentype");
}

@font-face {
	font-family: "MyriadPro";

	src: url(../fonts/MyriadPro-Regular.otf) format("opentype");
}

@font-face {
	font-family: "robotobold";

	src: url(../fonts/robotobold.ttf) format("truetype");

	font-weight: 700;
}