@import url("fonts.css");

body {
	position: relative;
	z-index: 0;
}

.wrapper {
	padding: 0 15px;
	width: 940px;
	margin: 0 auto;
}

	/* Header */

.header {
	background-color: #4d98a4;
	padding: 40px 0 33px 0;
	padding: 19.5px 0 19.5px;
}

.header:after {
	content: " ";
	display: block;
	clear: both;

}

.logo {
	float: left;
	font-family: "Cherry Swash";
	font-size: 40px;
	color: white;
}

.nav {
	float: right;
	padding-left: 0;
	font-family: helvetica-cond;
	text-transform: uppercase;
	font-size: 18px;
	margin: 13px 0;
	color: #e4e4e4;
}

.nav-item {
	display: inline;
}

.nav-item a {
	text-decoration: none;
	color: inherit;
	padding: 0 20px;
	transition: 0.2s;
}

.nav-item a:hover {
	color: white;
}

.nav-item:not(:last-child):after {
	content: " /";
}

	/* Home */

.home {
	position: relative;
	z-index: -2;
}

.slick-slide {
	height: 476px;
}

.slide-one {
	background: url("../img/main-img.jpg") 0 23% no-repeat;
	background-size: cover;
}
.slide-two {
	background: url("../img/main-img2.jpg") 0 93% no-repeat;
	background-size: cover;
}
.slide-three {
	background: url("../img/main-img3.jpg") 0 73% no-repeat;
	background-size: cover;
}

.home-container {
	color: #e4e4e4;
	width: 50%;
	position: absolute;
	top: 125px;
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
}

.home-title {
	font-family: helvetica-bold;
	font-size: 44px;
	text-transform: uppercase;
}

.home-btn {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	background: rgba(255,255,255,.06);
	font-family: helvetica-light;
	font-size: 30px;
	border: 3px solid #afb1b4;
	border-radius: 5px;
	padding: 9px 46px;
	margin-top: 40px;
	transition: 0.2s;
}

.home-btn:hover {
	color: white;
	border-color: white;
}


/* Services */

.services {
	text-align: center;
	padding: 80px 0;
	color: #4c505d;
	overflow: hidden;
}

.services-title {
	font-family: helvetica-light;
	font-weight: 500;
	font-size: 30px;
	padding: 0 160px;
}

.services-text {
	font-family: helvetica-roman;
	font-size: 14px;
	padding: 40px 45px 75px;
}

.services-images {
	width: 42%;
	margin: 0 auto;
	text-align-last: justify;
}

	/* Comments */


.comment {
	background-color: #00d089;
	padding: 96px 0;
	overflow: hidden;
	color: white;
}

.comment-people {
	margin-left: calc(50% - 67.5px);
	display: inline-block;
}

.comment-photo {
	background: url("../img/img-people.png");
	width: 135px;
	height: 135px;
	border-radius: 50%;
	float: left;
	margin-right: 35px;
}

.comment-name {
	font-size: 26px;
	font-family: helvetica-bold;
	text-transform: uppercase;
	float: left;
	position:relative;
}

.comment-name:after {
	content:",,";
	font-size: 338px;
	position: absolute;
	top: -234px;
	left: -20px;
	opacity: .2;
}

.comment-text {
	font-family: helvetica-light;
	font-size: 18px;
	line-height: 32px;
	margin-top: 60px;
	padding: 0 30px;
}


	/* Contact */

.contact {
	position: relative;
}

.contact-box {
	max-width: 430px;
	max-height: 430px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.contact-form {
	height: 0;
	padding: 50% 0;
	background: rgba(255,255,255,.85);
	border-radius: 50%;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.09);
	/*padding-top: 111px;*/
	box-sizing: border-box;
}

.contact-name,.contact-email,.contact-text {
	width: 70%;
	max-width: 277px;
	border: 1px solid #d8d8d8;
	border-radius: 1px;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 2px;
	padding-left: 17px;
	font-size: 14px;
}

.contact-name {
	margin-bottom: 13px;
	height: 33px;
	margin-top: -25%;
}

.contact-email {
	margin-bottom: 14px;
	height: 33px;
}

.contact-text {
	margin-bottom: 32px;
	padding-top: 12px;
	resize: none;
	height: 82px;
	font-family: Arial;
}

.contact-button {
	display: block;
	margin: 0 auto;
	height: 67px;
	width: 67px;
	background: #00d089;
	border: none;
	border-radius: 50%;
	font-size: 30px;
	font-weight: bold;
	color: white;
	outline: none;
	transition: 0.2s;
}

.contact-button:hover {
	transform: scale(1.1);
}

.contact-button:active {
	transform: scale(.85);
}


	/* Footer */

.footer {
	font-family: helvetica-cond;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 0 16px;
	background: #01d089;
	color: white;
}


	/* Media query */

@media (max-height: 750px) {
	.services-images {
		visibility: hidden;
	}
}

@media (max-width: 990px) {
	.wrapper {
		width: auto;
	}
}


@media (max-width: 768px) {
	
	.home-container {
		width: auto;
	}

	.nav {
		float: none;
		margin: 0;
		color: #e4e4e4;
		position: absolute;
		z-index: -1;
		top: 100%;
		left: 0;
		right: 0;
		text-align: center;
		background: rgba(0,0,0,.7);
		transition:  0.5s;
	}

	.nav_active {
		visibility: hidden;
		top: -300%;
	}

	.nav-item {
		display: list-item;
		list-style: none;
	}

	.nav-item:not(:last-child):after {
		display: none;
	}

	.nav-item a {
		display: inline-block;
		width: 100%;
		padding: 20px 0;
	}

	.header {
		position: relative;
	}

	.menu-link {
		display: block;
		position: absolute;
		right: 15px;
		width: 50px;
		height: 50px;
		background: white;
		border-radius: 50%;
		box-shadow: 0 0 10px black;
		z-index: 2;
	}
	.menu-link span, .menu-link span:before, .menu-link span:after {
		background: black;
		display: block;
		height: 3px;
		width: 18px;
		position: absolute;
		transition: all 0.3s;
	}
	.menu-link span {
		left: 50%;
		margin-left: -9px;
		top: 50%;
		margin-top: -1.5px;
	}
	.menu-link span:before {
		content: " ";
		margin-top: -6px;
	}
	.menu-link span:after {
		content: " ";
		margin-top: 6px;
	}

	.menu-link_active span{
		background: transparent;
	}
	.menu-link_active span:before {
		transform: rotate(135deg);
		margin-top: 0;
	}
	.menu-link_active span:after{
		transform: rotate(-135deg);
		margin-top: 0;
	}

	.services-title {
		padding: 0;
	}

	.services-images {
		width: 60%;
	}

	.services-text {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 380px) {

	.slick-slide {
	height: calc(100vh - 87px);
	}

	.services-title {
		font-size: 29px;
	}

	.services-images {
		width: 85%;
	}

	.contact-name {
		margin-top: -28%;
	}

	.contact-text {
		margin-bottom: 14px;
	}

	.comment {
		padding: 80px 0;
	}

	.comment-photo {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.comment-name {
		float: none;
		text-align: center;
	}

	.comment-name:after {
		left: 0;
		top: 0px;
		font-size: 242px;
	}

	.comment-text {
		margin-top: 70px;
		padding: 0;
	}
	
}
