
@import url("fonts.css") ;
@import url("fa-brands.min.css") ;
@import url("fa-solid.min.css");

body,html {
	padding: 0;
	margin: 0;
}

body {
	width: /*1600px*/;
	font-size: 100%;
}
ul {
	margin: 0;
}

.wrapper {
	max-width: 1170px;
	/*width: 73.125%;*/
	padding: 0 15px;
	/*padding: 0 1.28205128205128%;*/
	margin: 0 auto;
	/*?*/
}

.header {
	font-size: 1.250em;
	color: white;
	font-family: MyriadPro;
	border-bottom: 1px solid rgba(255,255,255,.38);
	background: rgba(34,34,34,.5);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;
}

.logo-box {
	position: absolute;
	top: 50%;
	margin-top: -37.5px;
}

.logo-img {
}

.nav {
	float: right;
	padding-left: 0;
}

.nav-trigger {
	display: none;
}

.nav-item {
	display: inline-block;
	margin-left: 19.2px;
}

.nav-link {
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 50px 12.5px 40px 12.5px;
	border-bottom: 0px solid #12749e;
	transition: .1s linear;
}
.nav-link:hover {
	border-bottom: 5px solid #12749e;
	padding-bottom: 35px;
}

.social {
	float: right;
	padding: 50px 0 0 24px;
}

.social-icon {
	display: inline-block;
	margin-left: 19px;
}

.fab {
	color: white;
	text-decoration: none;
	transition: .1s linear;
}
.fab:hover {
	color: #12749e;
}


	/* HOME */

.home {
	background: url(../img/home-bg.jpg) 20% 5% no-repeat;
	text-align: center;
	padding-bottom: 105px;
}

.home-text {
	display: inline-block;
	margin: 350px 0 150px;
	font-family: Gotham;
	text-transform: uppercase;
}

.home-title {
	font-size: 9.534em;
	letter-spacing: -5px;
	color: white;
}

.home-subtitle {
	font-size: 1.549em;
	color: #11749e;
	letter-spacing: 18px;
	padding-left: 15px;
}

.scroll-down {
	margin: 0 auto;
	width: 60px;
	height: 60px;
	display: block;
	border: 1px solid white;
	border-radius: 50%;
	position: relative;
	transition: .1s linear;
}

.scroll-down-box {
	position: relative;
}

.scroll-down-box:before {
	content: "Scroll Down";
	color: white;
	font-family: Arial;
	font-size: 0.813em;
	position: absolute;
	top: -44px;
	left: 0;
	right: 0;
	width: 100px;
	margin: 0 auto;
}

.fas:before {
	font-size: 1.563em;
	color: white;
	line-height: 60px;
	vertical-align: middle;
	transition-duration: .5s;
}

.scroll-down:hover {
	background: white;
	border-color: white;
}
.scroll-down:hover .fas:before {
	color: rgba(0,0,0,.9);
}

/* END HOME */

/* AGENCY */

.agency {
	background: #11749f;
	font-family: Gotham;
	padding: 163px 0 125px 0;
}

.agency-title {
	font-size: 2.347em;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 137px;
	position: relative;
}

.agency-title:after {
	content: "w";
	font-family: robotobold;
	display: block;
	font-size: 6.676em;
	font-weight: 700;
	color: rgba(255,255,255,.18);
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 22px;
	line-height: 0px;

}

.feature-boxes {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.feature-box {
	color: white;
	font-family: Gotham;
	text-align: center;
	width: 25%;
}

.feature-icon {
	width: 133px;
	height: 133px;
	background: #2e85aa;
	border-radius: 50%;
	margin: 0 auto;
}

.feature-title {
	font-size: 1.125em;
	line-height: 36px;
	text-transform: uppercase;
	padding: 9px 0 18px 0;
}

.feature-text {
	font-size: 0.938em;
	line-height: 24px;
	padding: 0 10px 0 10px;
}

.icon-write-bg,.icon-search-bg,.icon-says-bg {
	width: 100%;
	height: 100%;
}
.icon-write-bg {
	background: url(../img/Write.png) center center no-repeat;
}
.icon-search-bg {
	background: url(../img/Search.png) center center no-repeat;
}
.icon-says-bg {
	background: url(../img/Simon-says.png) center center no-repeat;
}


/* NEWS */

.new {
	color: white;
	background: #222222;
	display: flex;
	align-items: center;
}

.new:after {
	content: "";
	display: block;
	clear: both;
}

.new-content {
	font-family: Gotham;
	width: 50%;
	box-sizing: border-box;
	padding: 15px 5% 15px 15%;
}

.new-img {
	width: 50%;
}
.new:nth-child(2n) {
	flex-flow: row-reverse;
	background: #fff;
	color: black;
}
.new:nth-child(2n) .new-content {
	padding: 15px 15% 15px 5%;
}

.new-img img {
	width: 100%;
	display: block;
}

.new-time {
	font-size: 0.813em;
	white-space: pre;
	line-height: 25px;
}

.new-title {
	font-size: 1.563em;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 36px;
	padding-bottom: 30px;
}

.new-text {
	font-size: 0.938em;
	line-height: 24px;
	padding-bottom: 20px;
}


/* BLOG */

.blog {
	font-family: gotham;
	text-align: center;
	padding: 156px 0 106px 0;
}

.blog-area-title {
	font-size: 2.347em;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 100px;
}

.blog-area-title:after {
	content: "B";
	font-family: robotobold;
	display: block;
	font-size: 6.676em;
	font-weight: 700;
	color: #e2e2e2;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 22px;
	line-height: 0px;
	z-index: -1;
}

.blog-area-subtitle {
	font-size: 1.879em;
}

.blog-boxes {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.blog-box {
	width: 23%;
	margin-top: 73px;
}

.blog-img {
	margin-bottom: 28px;
	width: 100%;
}

.blog-title {
	font-size: 1.125em;
	text-transform: uppercase;
	line-height: 36px;
	color: #11749e;
	margin-bottom: 10px;
}

.blog-text {
	font-size: 0.938em;
	line-height: 24px;
}


/* QUICK ACTION */

.quick-action {
	background: #11749e;
	font-family: gotham;
	padding: 105px 0 149px 0;
	overflow: hidden;
	text-align: justify;
	text-align-last: justify;
}

.action-box {
	width: 47%;
	display: inline-block;

}

.action-icon {
	float: left;
	width: 12%;
	margin-top: 10px;
}

.action-text {
	font-size: 0.938em;
	color: white;
	float: right;
	width: 82%;
	line-height: 24px;
	text-align: left;
	text-align-last: left;
}

/*KEY FEATURE */

.key-feature {
	background: url(../img/Layer-87.jpg) no-repeat;
	padding: 222px 0 217px;
	color: white;
	font-family: gotham;
	position: relative;
}

.key-feature:before {
	content: "";
	position: absolute;
	top: 98px;
	right: 15%;
	display: block;
	width: 30%;
	height: 77%;
	background: url(../img/Rectangle.png) center center no-repeat;
	background-size: contain;
}

.key-feature-title {
	font-size: 1.563em;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 29px;
}

.key-feature-text {
	font-size: 0.938em;
	line-height: 24px;
	width: 41%;
	margin-bottom: 65px;
}

.key-feature-list {
	list-style: none;
	padding-left: 0;
}

.key-feature-item {
	font-size: 0.938em;
	font-weight: 600;
	text-transform: uppercase;
	background: #11749e;
	width: 30%;
	line-height: 24px;
	padding: 7px 18px;
	margin-bottom: 25px;
}
.key-feature-item:nth-child(2) {
	width: 32%;
}
.key-feature-item:nth-child(3) {
	width: 34%;
}


/* OUR TEAM */

.team {
	font-family: gotham;
	text-align: center;
	padding: 131px 0 118px;
}

.team-title {
	font-size: 2.347em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 129px;
	position: relative;
}

.team-title:after {
	content:"T";
	font-family: robotobold;
	display: block;
	font-size: 6.676em;
	font-weight: 700;
	color: #e2e2e2;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 22px;
	line-height: 0px;
	z-index: -1;
}

.team-foto {
	max-width: 100%;
}

.team-subtitle {
	font-size: 1.879em;
}

.team-boxes {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.team-box {
	margin-top: 66px;
	position: relative;
	width: 24%;
}

.team-descr {
	background: white;
	position: absolute;
	bottom: -15px;
	left: 1px;
	right: 1px;
	width: 220px;
	margin: 0 auto;
	padding-top: 20px;
}

.team-name {
	text-transform: uppercase;
	color: #11749e;
	font-size: 1.250em;
	font-weight: 600;
	line-height: 24px;
}

.team-job {
	font-size: 0.938em;
	line-height: 24px;
}

/* CONTACT */

.contact {
	font-family: gotham;
	background: url(../img/Layer-97.jpg);
	padding: 217px 0 100px;
}

.contact-title {
	font-size: 2.347em;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	color: white;
	margin-bottom: 141px;
}

.contact-title:after {
	content: "C";
	font-family: robotobold;
	display: block;
	font-size: 6.676em;
	font-weight: 700;
	color: rgba(255,255,255,.18);
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 25px;
	line-height: 0px;
}

.contact-form {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.contact-view {
	background: rgba(255,255,255,.0);
	border: 1px white solid;
	outline: none;
	color: white;
	font-size: 0.938em;
	font-weight: 500;
	padding-left: 24px;
	box-sizing: border-box;
	width: 31%;
	height: 44px;
	margin-bottom: 38px;
}

.contact-textarea {
	width: 100%;
	height: 150px;
	padding-top: 18px;
	margin-bottom: 52px;
	resize: none;
}

.contact-button {
	background: #11749e;
	border: none;
	color: white;
	font-size: 1.500em;
	font-weight: 600;
	margin: 0 auto;
	width: 227px;
	height: 64px;
}

/* MAP */

.map {
	position: relative;
	font-family: gotham;
	overflow: hidden;
}

.map input {
	display: none;
}

.map label {
	position: absolute;
	z-index: 1;
	font-size: 1.563em;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid white;
	color: white;
	line-height: 40px;
	width: 170px;
	height: 40px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	transition: 1s;
}

.layout {
	position: absolute;
	background: rgba(34,34,34,.7);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 1s;
}

.map input:checked ~ .layout {
	bottom: 100%;
}

.map input:checked ~ label {
	bottom: 100%;
	opacity: 0;
}


.map iframe {
	width: 100%;
	height: 330px;
	border: none;
}


/* FOOTER */

.footer {
	color: white;
	font-family: roboto;
	background: #222222;
	padding: 40px 0;
	line-height: 36px;
}

.footer:after {
	content: "";
	display: block;
	clear: both;
}

.footer-copyright {
	float: left;
}

.footer-author {
	float: right;
}

.footer-author img {
	vertical-align: -5px;
}


@media (max-width: 1024px) {
	/* home */

	.home-title {
		font-size: 8.534em;
	}
	.home-subtitle {
		font-size: 1.2em;
	}


	.feature-box {
		width: 50%;
		margin-top: 40px;
	}
	.agency-title {
		margin-bottom: 97px;
	}
	.feature-text {
		padding: 0 30px;
	}

	/* blog */

	.blog-boxes {
		justify-content: space-around;
	}
	.blog-box {
		width: 35%;
	}

	/* team */

	.team-box {
		width: 50%;
	}
}

@media (max-width: 767px) {

	/* home */

	.home-text {
		margin: 200px 0 150px;
	}

	.home-title {
		font-size: 3.500em;
	}
	.home-subtitle {
		font-size: 0.65em;
		letter-spacing: 0.500em;
	}

	/* home end */
	/* header */

	.logo-box {
		top: 0;
		bottom: 0;
		left: 15px;
		right: 0;
		width: 50px;
		height: 50px;
		margin: auto 0;
	}

	.logo-img {
		width: 100%;
	}

	.nav {
		height: 0;
		overflow: hidden;
		transition: 1s;
		position: absolute;
		right: 10px;
		top: 75px;
	}

	.nav-trigger {
		display: none;
	}

	.nav-sandwich {
		width: 30px;
		height: 30px;
		position: absolute;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		transition: 1s;
		top: 50%;
		right: 15px;
		margin-top: -15px;
	}

	.sw-line {
		display: block;
		width: 100%;
		height: 3px;
		background: white;
	}

	.nav-trigger:checked ~ .nav {
		height: 500px;
	}

	.nav-trigger:checked ~ .nav-sandwich {
		transform: rotate( -90deg );
	}

	.nav-item {
		display: block;
		border: 1px solid #12749e;
		width: 150px;
		height: 50px;
	}

	.nav-link {
		width: 100%;
		height: 100%;
		padding: 0;
		text-align: center;
		line-height: 50px;
		background: rgba(34,34,34,.7);
	}
	.nav-link:hover {
		padding: 0;
		border: none;
		background: #12749e;
	}

	.social {
		padding: 20px 55px 20px 0;
	}


	/* header end */


	.feature-boxes {
		flex-flow: column wrap;
	}
	.feature-box {
		width: 100%;
	}
	.feature-text {
		padding: 0;
	}

	/* new */

	.new {
		flex-flow: column;
	}
	.new:nth-child(2n) {
		flex-flow: column;
	}

	.new-content {
		width: 100%;
	}
	.new-img {
		width: 100%;
	}

	/* new end */
	/* blog */

	.blog-boxes {
		flex-flow: column wrap;
		align-items: center;
	}
	.blog-box {
		width: 100%;
	}

	.blog-img {
		width: 70%;
	}

	/* blog end */
	/* quick action */

	.action-box {
		width: 100%;
		margin-bottom: 15px;
	}

	/* quick action end */
	/* key feature */

	.key-feature-text {
		width: 100%;
	}

	.key-feature:before {
		display: none;
	}

	.key-feature .key-feature-item {
		width: auto;
	}

	/* key feature end */
	/* team */

	.team-boxes {
		flex-flow: column wrap;
		align-items: center;
	}

	.team-box {
		width: 70%;
	}

	/* contact */

	.contact-form {
		flex-flow: column wrap;
		align-items: center;
	}

	.contact-view {
		width: 100%;
	}

	/* contact end */
	/* footer */

	.footer {
		text-align: center;
	}

	.footer .wrapper {
		padding: 0;
	}

	.footer-copyright,.footer-author {
		float: none;
	}

	/* footer end */


	h2 {
		font-size: 1.5em !important;
	}

	[class*="subtitle"] {
		font-size: 1.3em;
	}
	.home {
		padding-bottom: 100px;
	}
	.home-subtitle {
		font-size: 1em;
	}
	.home-text {
		margin: 175px 0 100px;
	}

	.team-descr {
		width: 180px;
	}

	.agency,.blog,.team,.contact {
		padding: 100px 0 50px;
	}

	.quick-action,.news .new .new-content,.key-feature {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.agency-title,.team-title,.contact-title {
		margin-bottom: 75px;
	}
}

	@media (max-height: 375px) {

		.nav-item {
			height: 38px;
		}

		.nav-link {
			line-height: 38px;
		}
	}